{
    "defaultServer": "https://localhost.bcetest.baidu.com:8899",

    "defaultServerCLI": "node_modules/.bin/babel-node node_modules/edp/lib/cli.js webserver start --config=edp-webserver-config.js --port=8899",

    "baseDir": "../src/iot",

    "watchDirs": "src",

    "indexDir": "../src",

    "indexHTML": "/common/ehu-index.html",

    "module": "/iot",

    "port": 8844
}

